<section id="recent-blog-posts" class="recent-blog-posts">
  <div id="news" class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Latest News</h2>
    </div>
    <div class="row">
      {%- assign newsPages = site.pages | where: "type", "news" | where: "language", page.language | sort: "date" | reverse %}
      {%- for news in newsPages %}
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="post-box">
          <div class="post-img"><img src="{{ news.image | relative_url }}" class="img-fluid" alt=""></div>
          <div class="meta">
            <span class="post-date">{{ news.date }}</span>
          </div>
          <h3 class="post-title">{{ news.title }}</h3>
          <p>{{ news.abstract }}</p>
          <a href="{{ news.url }}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
      {%- endfor %}
    </div>
  </div>
</section>
